<%- include('../layout/adminheader.ejs') %>
<div class="main-content">
    <!---sidebar-->
  <div class="sidebar">
      <div class="sidebar-buttons">
        <a href="/admin/home"><button type="button" class="buttonside btn-block"><i class="fa-solid fa-chess-board"></i>  Dashboard</button></a>
        <a href="/admin/customer"><button type="button" class="buttonside btn-block"><i class="fa-solid fa-users"></i>   Customers</button></a>
        <a href="/admin/product"><button type="button" class="buttonside btn-block"><i class="fa-solid fa-briefcase"></i>   Products</button></a>
        <a href="/admin/order"><button type="button" class="buttonside btn-block"><i class="fa-solid fa-file"></i>   Orders</button></a>
        <a href=""><button type="button" class="buttonside btn-block"><i class="fa-regular fa-image"></i>  Banner Management</button></a>
        <a href="/admin/coupon"><button type="button" class="buttonside btn-block active-linking text-white"><i class="fa-solid fa-star"></i>       Coupon Management</button></a>
        <a href="/admin/salereport"><button type="button" class="buttonside btn-block"><i class="fa-solid fa-chart-simple"></i>  Sales Report</button></a>
        <a href="/admin/offer"><button type="button" class="buttonside btn-block"><i class="fa-solid fa-user-tie"></i>        Offer</button></a>
        <a href="/admin/category"><button type="button" class="buttonside btn-block"><i class="fa-solid fa-list"></i>        Category</button></a>
        <a href=""><button type="button" class="buttonside  btn-block"><i class="fa-solid fa-gear"></i>   Settings</button>
        <a href="/admin/logout"><button type="button" class="buttonside  btn-block"><i class="fa-solid fa-right-from-bracket"></i>   Logout</button></a>
      
        </div>
    </div>
    
  
    <div class=" container-table mt-5">
        <div class="container mt-5">
            <h2>Edit Coupon</h2>
            <form action="/admin/editcoupon" method="POST">
                <input type="hidden" name="id" value="<%= coupon._id %>">
                <div class="form-group">
                    <label for="couponName">Coupon Name:</label>
                    <input type="text" id="couponName" name="couponName" class="form-control" value="<%= coupon.couponName %>" required>
                </div>
                <div class="form-group">
                    <label for="discount">Discount (%):</label>
                    <input type="number" id="discount" name="discount" class="form-control" min="0" max="100"   value="<%= coupon.discount %>"required>
                </div>
                <div class="form-group">
                    <label for="minPurchase">Minimum Purchase:</label>
                    <input type="number" id="minPurchase" name="minPurchase" class="form-control" min="0" value="<%= coupon.minPurchase %>" required>
                </div>
                <div class="form-group">
                    <label for="expiry">Expiry Date:</label>
                    <input type="date" id="expiry" name="expiry" class="form-control" value="<%= coupon.Expiry %>" required>
                </div>
                <div class="form-group">
                    <label for="usageLimit">Usage Limit:</label>
                    <input type="number" id="usageLimit" name="usageLimit" class="form-control" min="1"value="<%= coupon.usageLimit %>" placeholder="enter the count of coupon">
                </div>
                
                <button type="submit" class="btn addbutton">Update Coupon</button>
            </form>
        </div>
    
    </div>
</div>

<%- include('../layout/adminfooter.ejs') %>