<%- include('../layout/header.ejs') %>

<div >

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="username-box">
            <p class="username-text  pt-3 pl-5"> <i class="fa-regular fa-user"></i>   <%= user.name %></p>
        </div>
       <a href="/profile" class="btn btn-light btn-block btn-sidebar sidebar-link pt-3">Account Overview</a>
        <a href="/address" class="btn btn-light btn-block btn-sidebar pt-3">Manage Address</a>
        <a href="/order" class="btn btn-light btn-block btn-sidebar  pt-3">Orders</a>
        <a href="/wishlist" class="btn btn-light btn-block btn-sidebar  pt-3">Wishlist</a>
        <a href="/wallet" class="btn btn-light btn-block btn-sidebar pt-3">Wallet</a>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="flex-grow-1 pl-3">
        <div class="container-fluid">
            <h1 class="pt-3">User Profile Edit</h1>
            <form action=" " method="POST">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control formarea" name="name" value="<%= user.name %>">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="mobileNumber">Mobile Number</label>
                            <input type="tel" class="form-control formarea" name="mobileno" value="<%= user.mobileno %>">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control formarea" name="email" value="<%= user.email %>">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" name="user_id" value="<%= user._id %>">
                            <button type="submit" class="btn probut">Save Changes</button>
                          </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- /#page-content-wrapper -->
</div>
</div>

<%- include('../layout/footer.ejs') %>