<%- include('../layout/header.ejs') %>

<div >

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="username-box">
            <p class="username-text  pt-3 pl-5"> <i class="fa-regular fa-user"></i>   <%= user.name %></p>
        </div>
       <a href="/profile" class="btn btn-light btn-block btn-sidebar  pt-3">Account Overview</a>
        <a href="/address" class="btn btn-light btn-block btn-sidebar pt-3">Manage Address</a>
        <a href="/order" class="btn btn-light btn-block btn-sidebar  pt-3">Orders</a>
        <a href="/wishlist" class="btn btn-light btn-block btn-sidebar sidebar-link  pt-3">Wishlist</a>
        <a href="/wallet" class="btn btn-light btn-block btn-sidebar pt-3">Wallet</a>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div class="container">
        <h1>Welcome to Your Wishlist  <i class="fa-solid fa-heart text-danger"></i></h1>
        <% if (wishlist.length > 0) { %>
            <div class="row">
                <% wishlist.forEach(item => { %>
                    
                        <div class="row col-md-8 mb-3">
                            <% if (item.productId && item.productId.productName) { %>
                                <div class="col-md-8 mb-3">
                                    <div class="wishlist-box">
                                        <div class="wishlist-details">
                                            <img  src="/img/<%=item.productId.image[0].filename %>" alt="<%= item.productId.productName %>" class="image-wishlist ml-5" width="75" height="75">
   <br>
                                            <h5 class="wishlist-product-name"><%= item.productId.productName %></h5>
                                            <p class="wishlist-product-price">Price: <%= item.productId.productprice %></p>
                                            <p class="wishlist-product-price">Description: <%= item.productId.description %></p>
                                            <!-- Add more product details as needed -->
                                        </div>
                                        <a href="/wishlist-delete?itemId=<%= item._id %>"><i class="fa-solid fa-trash text-dark pl-3"></i></a>
                                        <div class="d-flex justify-content-between align-items-center mt-3">
                                            <% if (item.productId.stockLeft > 0) { %>
                                                <form action="/add-cart" method="post">
                                                    <input type="hidden" name="productId" value="<%= item.productId._id %>">
                                                    <button type="submit" class="cart-button btn btn-lg mr-2">Add To Cart</button>
                                                </form>
                                            <% } %>
                                            </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    
                <% }); %>
            </div>
        <% } else { %>
            <p>Your wishlist is empty.</p>
        <% } %>
       
    </div>
    <!-- /#page-content-wrapper -->
</div>
</div>

<%- include('../layout/footer.ejs') %>